############################################################
## EditorConfig helps maintain consistent coding styles.  ##
##  To ensure proper multiline comment when not supported ##
## use set of single line inline comments and wrap them.  ##
## as consitent block of code and heigh, width and style. ##
############################################################
root = true

## All Files - Any #########################################
[*]
charset = utf-8
end_of_line = lf
config_format = tomel
config_style = lowercase_underscore
constant = ALLCAPS
variable = [CamelCase, lowerCamelCase, under_score]
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

## Language Specific Configs = [a, b, ...] #################
[*.py, *.sh]
shebang = true
end_of_line = lf
insert_final_newline = true
inline_comment = #

# Language Specific Config - Markdown or *.md file ########
[*.md]
double_space_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false
